:root{
    --light-green:#dce9de;
}
html,.body{
    margin: 0 auto;
    padding: 0;
}
h1{
    display: block;
}
.container-fluid{
    background: var(--light-green);
}
.logo img{
    width: 10%;
    min-width: 100px;
}
