:root {
  --blue:       #7fb0fa;
  --indigo:     #6610f2;
  --purple:     #cdbbeb;
  --pink:       #d63384;
  --red:        #ff7979;
  --orange:     #ffab79;
  --yellow:     #ffeb79;
  --green:      #99d8ba;
  --light-green:#dce9de;
  --teal:       #c7ebd5;
  --cyan:       #0dcaf0;
  --black:      #000000;
  --white:      #ffffff;
  --gray:       #6c757d;
  --gray-dark:  #343a40;
}
* {
    box-sizing: border-box;
}
html,.body{
    margin: 0 auto;
    padding: 0;
}
h1{
    font-size: 42px;
}
h4 span{
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
}
h2 span{
    font-size: 16px;
}
.container-fluid{
    padding: 10px;
    padding-right: 8%;
    padding-left: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 18%;
    height: auto;
    min-width: 100px;
}
.text-logo{
    width: 45%;
}
/* @media (max-width:926px) {
    h1{
        font-size: 32px;
    }
}
@media (max-width:726px) {
    h1{
        font-size: 28px;
    }
} */
@media (max-width:589px) {
    h2{
        font-size: 24px;
    }
    h4{
        font-size: 18px;
    }
    .container-fluid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-logo {
        width: 300px;
    }
    .logo{
        margin-bottom: 10px;
    }
}
/* ------------------------------section-chart------------------------------ */
.container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.rhy-dashboard{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    transition: transform 0.3s ease;
    align-items: center;
    border-radius: 15px;
    height: 111px;
}
.rhy-dashboard:hover{
    transform: translateY(-3px);
    box-shadow: 0 2px 0 rgba(3,21,34,0.1);
}
.rhy-icon{
    text-align: center;
}
.rhy-icon img{
    width: 32px;
}
.rhy-icon p{
    font-size: 11px;
}
.rhy-icon p,h2,h4{
    margin-bottom: 0;
}
/* ------------------------------section-chart------------------------------ */
/* ------------------------------section-radar------------------------------ */
.title{
    text-align: center;
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 30px;
}
#radar-container {
      max-width: 900px;
      min-width: 200px;
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: center;
    }
#radarChart {
    width: 100% !important;
    height: auto !important;
    }
/* ------------------------------section-radar------------------------------ */
/* ------------------------------section-dashboard------------------------------ */

.card{
    border-radius: 5px;
    box-shadow: 0 2px 0 rgba(3,21,34,0.1);
    text-align: center;
    padding-top: 10px;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: translateY(-3px);
}
.card-body{
    transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card-label{
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 15px;
}
.label-excel{
    background: #c7ebd5;
}
.label-good{
    background: #fedcad;
}
.label-normal{
    background: #febbad;
}
.graph {
    width: 80%;
    display: table;
    margin: 0 auto 0;
    position: relative;
    text-align: center;
    height: 12.5rem;
}
.graph_media {
    max-height: 12rem;
    stroke-width: 1.8px;
} 
.knob_data {
    position: absolute;
    text-align: center;
    font-size: 2.17207em;
    line-height: 0;
    left: 0;
    top: 50%;
    width: 100%;
    vertical-align: middle;
    letter-spacing: 1px;
}
.progress-ring{
  /* stroke: var(--green); */
  transition: stroke-dashoffset 1s ease-out;
}
#index-bp{
    border-top: 5px solid var(--red);
}
#index-bve{
    border-top: 5px solid var(--orange);
}
#index-p{
    border-top: 5px solid var(--yellow);
}
#index-bmb{
    border-top: 5px solid var(--blue);
}
#index-na{
    border-top: 5px solid var(--purple);
}
/* ------------------------------section-dashboard------------------------------ */
/* ------------------------------section-nervetarget------------------------------ */
#nervetarget{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 40px;
}
.target-container{
    width: 600px;
    height: 600px;
    position: relative;
    padding: 0;
    }
.canvas{
    width: 100%;
    position: relative;
}
.star{
    z-index: 999;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, 0%);
    font-size: 28px;
    color: darkred;
    }
.feature{
    font-size: 18px;
    color: #3d8361;
    z-index: 999;
    position: absolute;
}
#lbl_active{
    top: 25%;
    right: 25%;
    text-align: right;      /* ✅ 文字靠右對齊 */
}
#lbl_calm{
    top: 25%;
    left: 24%;
}
#lbl_passive{
    bottom: 25%;
    left: 24%;
}
#lbl_anxiety{
    bottom: 25%;
    right: 25%;
    text-align: right;  
}
.axis{
    font-size: 22px;
    font-weight: 600;
    z-index: 999;
    position: absolute;
}
#y_Stable{
    top: 0%;
    left: 50%;
    transform: translate(-42%, 0%);
}
#x_Peace{
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}
#y_Unstable{
    bottom: 0%;
    left: 50%;
    transform: translate(-36%, 50%);
}
#x_Energy{
    top: 50%;
    right: 0%;
    text-align: right;  
    transform: translate(0%, -50%);
}
.center-line {
    position: absolute;
    height: 2px;
    background: green;
    transform-origin: 0 0; /* 從左上角旋轉 */
}
@media (max-width:768px) {
    .target-container{
        width: 500px;
        height: 500px;
        position: relative;
    }
    .axis{
        font-size: 20px;
    }
    .feature{
        font-size: 16px;
    }
    .star{
        font-size: 26px;
    }
}
@media (max-width:576px) {
    .target-container{
        width: 400px;
        height: 400px;
        position: relative;
    }
    .axis{
        font-size: 18px;
    }
    .feature{
        font-size: 14px;
    }
    .star{
        font-size: 24px;
    }
}
@media (max-width:385px) {
    .target-container{
        width: 300px;
        height: 300px;
        position: relative;
    }
    .axis{
        font-size: 16px;
    }
    .feature{
        font-size: 12px;
    }
    .star{
        font-size: 22px;
    }
}
/* ------------------------------section-nervetarget------------------------------ */
